* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}

a {
text-decoration: none;
}
a img {
border: none;
}

button,
a {
cursor: pointer;
color: inherit;
}

textarea {
resize: none;
}

button,
textarea,
select {
appearance: none !important;
border-radius: 0;
}


/* END OF CSS RESET */



.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

.modalContainer {
  max-width: 600px;
  width: 100%;
  position: fixed;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #dadada;
  border-radius: 15px;
}

.closeBtn {
  position: fixed;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  padding: 30px;
}

.content h1 {
  background-color: #b1b1b1;
}
